[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "~=0.10"
requests = "~=2.26"

[dev-packages]
black = "~=21.8b0"

[requires]
python_version = "3.9"
